@use '../../../../themes.scss';

.main-home {
    display: flex;
    flex-direction: column;

    .carousel-image {
        max-height: 550px;
        object-fit: cover;
        min-height: 550px;
    }

    .minimeal-categories {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding: 45px;

        .category-detail {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--primary-color);
            border-radius: var(--border-radius);
            padding: 15px;
            width: 120px;
            height: 120px;
            transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

            .category-image {
                width: 50px;
                height: 50px;
            }

            .category-name {
                color: var(--primary-font-color);
                font-weight: bold;
            }
        }

        .category-detail:hover{
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            transform: scale(1.1);
        }
    }
}