<div class="main-header" *ngIf="!isLoading">
    <div class="logo-main">
        <img src="assets/image/logo.png" class="logo-style">
        <h6 class="shop-name">{{ dict.shopname }}</h6>
    </div>
    <div class="buttons-container">
        <div class="categories-box" (mouseenter)="toggleNotificationList(true)"
            (mouseleave)="toggleNotificationList(false)">
            <button nbButton ghost class="buttons-header">
                <nb-icon pack="eva" icon="grid-outline"></nb-icon>
                {{ dict.categories }}
            </button>
            <div class="dropdown-menu" *ngIf="showNotifications">
                <div class="category-name-container">
                    <div *ngFor="let cat of categories" class="category-name"
                        (mouseenter)="getCategoryItems(cat)" [ngClass]="cat.active ? 'category-active' : ''">
                        {{ cat.category_name.toUpperCase() }}
                    </div>
                </div>
                <div class="items-container">
                    <p *ngFor="let item of items" class="item-style">{{ item }}</p>
                </div>
            </div>
        </div>
        <button nbButton ghost class="buttons-header">example 1</button>
        <button nbButton ghost class="buttons-header">example 2</button>
    </div>
    <button nbButton ghost class="buttons-header">
        {{ dict.login }}
        <nb-icon pack="fontawesome" class="far fa-sign-in-alt space-icon"></nb-icon>
    </button>
</div>