<div class="footer-container">
    <button nbButton ghost class="gototop-button">
        {{ dict.go_up }}
        <nb-icon pack="fontawesome" class="far fa-arrow-alt-up space-icon"></nb-icon>
    </button>
    <div class="main-contact-us">
        <div>
            <h6>{{ dict.support }}</h6>
            <p>
                <nb-icon pack="fontawesome" class="far fa-phone"></nb-icon>
                {{ dict.supportphone }}
            </p>
            <p>
                <nb-icon pack="fontawesome" class="far fa-at"></nb-icon>
                {{ dict.supportemail }}
            </p>
        </div>
        <img src="../../../assets/image/logo.png" alt="shop logo" class="footer-logo">
    </div>
    <p>
        © Copyright 2023
        <a href="https://github.com/AmirAliRashidi">AmirAliRashidi</a>
        . All Rights Reserved.
    </p>
</div>