<div class="main-auth-conatiner">
	<div class="main-logo" (click)="gotoHome()">
		<img class="logo-style" src="assets/image/logo.png" alt="online shop logo">
	</div>
	<div class="container" [ngClass]="isActive ? 'right-panel-active' : ''" id="container">
		<div class="form-container sign-up-container">
			<form [formGroup]="signUpForm" (ngSubmit)="signupFunc()">
				<h1>{{ dict.create_account }}</h1>
				<input nbInput class="input-style" fullWidth type="text" placeholder="Name" formControlName="name" />
				<input nbInput class="input-style" fullWidth type="text" placeholder="+98 913 528 2615"
					formControlName="tel" />
				<input nbInput class="input-style" fullWidth type="email" placeholder="Email" formControlName="email" />
				<nb-form-field class="password-container">
					<input *ngIf="showPassword" type="text" nbInput class="input-style" fullWidth placeholder="Password"
						formControlName="password">
					<input *ngIf="!showPassword" type="password" nbInput class="input-style" fullWidth
						placeholder="Password" formControlName="password">
					<nb-icon pack="fontawesome" nbSuffix class="eye-outline"></nb-icon>
					<button nbPrefix nbButton ghost fullWidth (click)="toggleShowPassword()" type="button">
						<nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
							[attr.aria-label]="showPassword ? 'hide password' : 'show password'" class="password-icon">
						</nb-icon>
					</button>
				</nb-form-field>
				<button nbButton hero status="primary" [disabled]="!signUpForm.valid" fullWidth>
					{{ dict.signup }}
				</button>
			</form>
		</div>
		<div class="form-container sign-in-container">
			<form [formGroup]="loginForm" (ngSubmit)="loginFunc()">
				<h1>{{ dict.login }}</h1>
				<input nbInput class="input-style" fullWidth type="email" placeholder="Email" formControlName="email" />
				<nb-form-field class="password-container">
					<input *ngIf="showPassword" type="text" nbInput class="input-style" fullWidth placeholder="Password"
						formControlName="password">
					<input *ngIf="!showPassword" type="password" nbInput class="input-style" fullWidth
						placeholder="Password" formControlName="password">
					<nb-icon pack="fontawesome" nbSuffix class="eye-outline"></nb-icon>
					<button nbPrefix nbButton ghost fullWidth (click)="toggleShowPassword()" type="button">
						<nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
							[attr.aria-label]="showPassword ? 'hide password' : 'show password'" class="password-icon">
						</nb-icon>
					</button>
				</nb-form-field>
				<a href="#">{{ dict.forgot_password }}</a>
				<button nbButton hero status="primary" [disabled]="!loginForm.valid" fullWidth>{{ dict.login }}</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>{{ dict.login_maintext }}</h1>
					<p>{{ dict.login_subtext }}</p>
					<button nbButton status="danger" id="signIn" (click)="changeStatus()">{{ dict.login }}</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>{{ dict.signup_maintext }}</h1>
					<p>{{ dict.signup_subtext }}</p>
					<button nbButton status="danger" id="signUp" (click)="changeStatus()">{{ dict.signup }}</button>
				</div>
			</div>
		</div>
	</div>
</div>