<div class="main-auth-conatiner">
    <div class="main-logo" (click)="gotoHome()">
        <img class="logo-style" src="assets/image/logo.png" alt="online shop logo">
    </div>
    <div class="main-forgot-password">
        <div class="form-container sign-up-container">
            <h1>{{ dict.forgetPassword }}</h1>
            <form [formGroup]="forgotForm" (ngSubmit)="forgotFunc()" class="forgot-form-main"
                *ngIf="!showVerifactionForm">
                <input nbInput class="input-style" fullWidth type="email" placeholder="Email" formControlName="email" />
                <button nbButton hero status="primary" [disabled]="!forgotForm.valid" fullWidth>
                    {{ dict.forgot_pass_veerify }}
                </button>
            </form>
            <form *ngIf="showVerifactionForm">
                <p>{{ dict.sendedPasscode }}</p>
                <app-code-separator [isCodeHidden]="false" [codeLength]="5" (codeCompleted)="onCodeCompleted()"
                    (codeChanged)="onCodeChanged($event)" class="code-input">
                </app-code-separator>
            </form>
            <a class="login-signup" (click)="gotoAuth()">{{ dict.lofin_signup }}</a>
        </div>
    </div>
</div>