@use 'themes'as *;

@use '@nebular/theme/styles/globals'as *;

@include nb-install() {
  @include nb-theme-global();
};

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.space-icon {
  margin: 0 5px;
}

.w-100 {
  width: 100%;
}